In [7]:
%pip install pandas
import pandas as pd

Collecting pandas
  Downloading pandas-2.0.3-cp311-cp311-macosx_11_0_arm64.whl (10.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 3.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ramanjeetsaini/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting numpy>=1.21.0
  Downloading numpy-1.25.1-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 7.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.1 pandas-2.0.3 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip is available: 23.0.1 -> 23.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [11]:
series1 = pd.Series(([1,2,3,4]),index = ['a','b','c','d'])

In [13]:
series1.name = "Testing"

In [15]:
display(series1)

a    1
b    2
c    3
d    4
Name: Testing, dtype: int64

In [16]:
df = pd.DataFrame({"a" : [1 ,2, 3],
          "b" : [7, 8, 9],
          "c" : [10, 11, 12]}, index = [1,2,3])

In [17]:
display(df)

   a  b   c
1  1  7  10
2  2  8  11
3  3  9  12

In [18]:
df2 = pd.DataFrame([[1, 2, 3], 
     [4, 6, 8],
     [10, 11, 12]],index = [1,2,3], columns=['a','b','c'])

In [19]:
display(df2)

    a   b   c
1   1   2   3
2   4   6   8
3  10  11  12

Reading CSV and Excel

In [ ]:
data = pd.read_csv('file.csv')
data = pd.read_csv('file.csv', index_col =0 ) #defining that first row is the columns headers

#ways to read excel
pd.read_excel('file.xlsx')
df.to_excel('dir/file.xlsx', sheet_name='Sheet2')

Read and write to SQL QUERY

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
pd.read_sql("SELECT * FROM my_table;", engine)
pd.read_sql_table('my_table', engine)
pd.read_sql_query("SELECT * FROM my_table;", engine)
df.to_sql('myDf',engine)

Here read_sql() is the convinience wrapper arounf read_sql_table and read_sql_query

Select single value by position

In [ ]:
df.iloc[0,['label']]
df.iat([0],['label'])

single value by label

In [ ]:
df.loc[[0],['label']]
df.at([0],['label'])

In [20]:
dict = {'name':["name1", "name2", "name3", "name4"], 
        'degree': ["degree1", "degree2", "degree3", "degree4"], 
        'score':[1, 2, 3, 4]} 

df = pd.DataFrame(dict, index=[True,False,True,False])
print(df)

        name   degree  score
True   name1  degree1      1
False  name2  degree2      2
True   name3  degree3      3
False  name4  degree4      4

Drop values from rows

In [ ]:
df.drop(['a','c'])

drop values from columns

In [ ]:
df.drop('Value', axis=1)

Sort Series by labels along axis

In [ ]:
Series.sort_index(self,axis=0, level=None, ascending=True, inplace=False, kind='quicksort',na_position='last',sort_remaining=True)

Sort values along an axis (ascending order)

In [ ]:
df.sort_values(by='Values',ascending=False)

adding ranks to particular entries
    df.rank()
retrieve rows and columsn desc
    df.shape
descirbe columns of dataframe
    df.columns
index description
    df.info()
retrieve no of non-na values
    df.count()
get sum of values 
    df.sum()
    df.cumsum() # cumulative
get min max values 
    df.min() / df.max()
get min max index values
    df.idxmin()/df.idxmax()

Apply function and merge DF

In [ ]:
def func():
    pass
df.apply(func) #applied to dataset

#element wise function
df.applymap(func)

pd.merge(df,df2, on='subject_id')